{{ define "main" }}

<div class="jumbotron jumbotron-fluid">
  <h1 class="text-center">Sign up for our free course</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <h3>Level up your analytics with our email course, delivered once daily over the next week</h3>
    <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Begin Mailchimp Signup Form -->
      <form action="https://gmail.us3.list-manage.com/subscribe/post?u=38750652726b1bcbd916713e2&amp;id=cd9995d508" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <label for="mce-EMAIL">Email</label>
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>

        <div class="form-group">
          <label for="mce-FNAME">First Name</label>
          <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
        </div>

        <div class="form-group">
          <label for="mce-LNAME">Last Name</label>
          <input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">
        </div>

        <div class="clear">
          <input type="submit" value="Get the free course" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block">
        </div>

        <br>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <!-- <div class="response" id="mce-success-response" style="display:none"></div> -->
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_38750652726b1bcbd916713e2_cd9995d508" tabindex="-1" value=""></div>
        </div>
      </form>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->


  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
    <p><span class="font-weight-bold">What you'll learn:</p>
    <p><span class="font-weight-bold">1. Choosing the right metrics:</span> how successful teams are empirical about their impact
    <p><span class="font-weight-bold">2. Best practices of analytics tools:</span> everything you need to empower your team
    <p><span class="font-weight-bold">3. Hiring a team:</span> what you need to know about structuring a team and hiring to be as impactful as possible
    <p><span class="font-weight-bold">4. More resources: </span>a collection of our favorite writing and topics on the industry for you to go deeper
    <p>All of our content is based on insights we've gained while working at technology companies in San Francisco, including growth stage startups, Facebook, and tech consulting firms</p>
    </div>
  </div>

</div>

{{ end }}
