<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>

        <div class="header container-fluid">
          {{- partial "header.html" . -}}
        </div>

        <div class="main">
          {{- block "main" . }}{{- end }}
        </div>

        <div class="footer">
          {{- partial "footer.html" . -}}
        </div>

        {{ if eq (getenv "HUGO_ENV") "development" }}
        <p class="text-center" style="background-color: red">ENV = {{ getenv "HUGO_ENV" }}</p>
        {{ end }}


    </body>
</html>
