{{ define "main" }}
<div class="jumbotron jumbotron-fluid bg-primary">
  <div class="container">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-white text-center text-sm">{{ .Params.Title }}</h1>
    </div>
  </div>
  </div>
</div>
<div class="container">

  <div class="row">
  <div class="col-md-8 offset-md-2 text-justify">
  {{ .Content }}
  </div>
  </div>

  <div class="row">
  {{ range .Pages }}
      {{- partial "article-card" . -}}
  {{ end }}
  </div>
</div>

{{ end }}
