{{ define "main" }}
<div class="article">
<div class="container">
  <div class="row">

  <div class="col-md-3">
    <nav class="nav toc bg-light"></nav>
  </div>

  <div class="col-md-8">
  {{ if isset .Params "image" }}
  <div class="jumbotron jumbotron-fluid" style="background-image: url({{ .Site.BaseURL }}images/{{ .Params.image }});">
  </div>
  {{ end }}

  {{ if eq (getenv "HUGO_ENV") "development" }}
  <p>Word count: {{ .WordCount }}</p>
  {{ end }}

  <h1>{{ .Title }}</h1>
  {{ .Content }}
  </div>
  </div>
</div>
</div>
{{ end }}
