{{ if or (eq .Params.List true) (eq (getenv "HUGO_ENV") "development") }}
<div class="col-md-3 article-group">
<div class="card border-primary article-card">
<!-- <img class="card-img-top" alt="Card image cap"> -->
  <a href="{{ .Permalink}}">
    <h5 class="card-header border-primary text-primary">{{ .Title }}</h5>
    <div class="card-body">
      <p class="card-text text-dark">{{ .Description }}</p>
    </div>
  </a>
</div>
</div>
{{end }}
