
<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src='{{ .Site.BaseURL }}js/{{ index .Site.Data.js.hash "main.js" }}'></script>

<!-- Twitter universal website tag code -->
<script>
!function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
},s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
// Insert Twitter Pixel ID and Standard Event data below
twq('init','o28kd');
twq('track','PageView');
</script>
<!-- End Twitter universal website tag code -->

<!-- Footer -->
<br>
<div class="bg-primary text-left">
  <div class="container">
    <br>
    <div class="row">
      <div class="col-md-2 offset-md-2">
        <nav class="nav flex-column">
        <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}">Home</a>
        <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}processes">Processes</a>
        <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}analyses">Analyses</a>
        <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}tools">Tools</a>
        </nav>
      </div>

      <div class="col-md-2 text-md-left">
        <nav class="nav flex-column">
          <a class="nav-link text-white text-md-left" href="https://twitter.com/tjwaterman99">
            <img src='{{ .Site.BaseURL }}images/{{ index .Site.Data.images.hash "twitter.svg"}}' alt="twitter"></img>
          </a>
          <a class="nav-link text-white text-md-left" href="https://gitlab.com/wma-analytics">Gitlab</a>
        </nav>
      </div>

      <div class="col-md-2 text-md-left">
        <nav class="nav flex-column">
          <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}contact">Contact</a>
          <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}mission">Mission</a>
        </nav>
      </div>

      <div class="col-md-2">
        <nav class="nav flex-column">
        <a class="nav-link text-white text-md-left" href="{{ .Site.BaseURL }}resources">Resources</a>
        </nav>
      </div>

    </div>

    <div class="row">
    <div class="col-md-12">
      <div class="text-success text-center py-3">© Corbett Analytics</div>
    </div>
    </div>
  </div>
</div>
<!-- Footer -->
