<div class="row">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{{ .Site.Home.Permalink }}">
      <img src='{{ .Site.BaseURL }}images/{{ index .Site.Data.images.hash "wheel-logo.svg" }}' style="max-width: 35px; max-height: 35px;">
      </img>
      Corbett Analytics
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link text-center" href="{{ .Site.BaseURL }}processes">Processes</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="{{ .Site.BaseURL }}analyses">Analyses</a></li>
        <li class="nav-item"><a class="nav-link text-center" href="{{ .Site.BaseURL }}tools">Tools</a></li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item mr-1">
          <a class="btn btn-success btn-block" href="{{ .Site.BaseURL }}register">Get the free course</a>
        </li>
        <br>
        <li class="nav-item">
          <a class="btn btn-outline-success btn-block" href="{{ .Site.BaseURL }}contact">Contact</a>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->

    </div>
  </div>
</nav>
</div>
