<div class="card text-center section-card">
  <div class="card-image-container text-center">
    <img class="card-img-top img-fluid mx-auto d-block" alt="Card image cap" src="{{ .img_url }}">
  </div>
<div class="card-body">
  <h5 class="card-title h2">{{ .title }}</h5>
  <p class="card-text">{{ .subtitle }}</p>
  <a href="{{ .href }}" class="btn btn-outline-primary btn-block">{{ .cta }}</a>
</div>
</div>
