{{ define "main" }}

<div class="jumbotron jumbotron-fluid bg-primary homepage-marquee">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h1 class="display-4 text-white">Level up your analytics</h1>
        <h4 class="lead text-white">Corbett Analytics provides free resources to help grow the impact of your organization's analytics. Built by top data scientists from Facebook, growth stage startups, and consulting firms in San Francisco</h4>
      </div>
    </div>
    <br>
    <div class="row">
    <div class="col-md-3 col-sm-12">
      <a class="btn btn-large btn-success btn-block" href="{{ .Site.BaseURL }}register">Get the free course</a>
    </div>
    <br></br>
    <div class="col-md-3 col-sm-12">
      <a class="btn btn-large btn-outline-success btn-block" href="{{ .Site.BaseURL }}contact">Contact</a>
    </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
  <div class="card-group">
    <!--  fileboard_checklist [#1594] -->
    {{- partial "section-card.html" (dict "context" . "img_url" "/images/fileboard_checklist-84b4085b.svg" "title" "Processes" "href" "processes" "cta" "Learn more" "subtitle" "Improve the quality and efficiency of your workflows with the best practices that we've used for years at top technology companies") -}}

    <!-- script [#1601], stats [#1371] -->
    {{- partial "section-card.html" (dict "context" . "img_url" "/images/script-289ef070.svg" "title" "Analyses" "href" "analyses" "cta" "Learn more" "subtitle" "Increase your impact by bringing new insights into your organization, using our easy to implement projects that work at any company ") -}}

    <!--  option_bar_settings [#1401] -->
    {{- partial "section-card.html" (dict "context" . "img_url" "/images/option_bar_settings-9b10e83c.svg" "title" "Tools" "href" "tools" "cta" "Learn more" "subtitle" "Grow your autonomy with the skills to implement all the pieces of a modern analytics stack, from an event collection service to a data viz platform") -}}
  </div>
</div>
</div>

<div class="container">
<div class="row text-center">
  <div class="col-md-12">
    <br>
    <h2 class="text-center">Popular articles</h2>
    <br>
  </div>
</div>
</div>

<div class="container">
<div class="row">

    {{ range .Pages }}
      {{ if .Params.frontpage }}
        {{- partial "article-card" . -}}
      {{ end }}
    {{ end }}

</div>
</div>
{{ end }}
