{{ define "main" }}

<div class="jumbotron jumbotron-fluid">
  <h1 class="text-center">Contact us</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <!-- Begin Mailchimp Signup Form -->
      <form action="https://gmail.us3.list-manage.com/subscribe/post?u=38750652726b1bcbd916713e2&amp;id=cd9995d508" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="form-group">
          <label for="mce-EMAIL">Email</label>
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>

        <div class="form-group">
          <label for="mce-FNAME">First Name</label>
          <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
        </div>

        <div class="form-group">
          <label for="mce-LNAME">Last Name</label>
          <input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">
        </div>

        <div class="form-group">
          <label for="mce-MMERGE3">Question</label>
          <textarea rows="3" value="" name="MMERGE3" class="required form-control" id="mce-MMERGE3"></textarea>
          <small class="form-text text-muted">We try to answer every question we receive, but we can't always reply.</small>
        </div>
        <div class="clear">
          <input type="submit" value="Contact us" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block">
        </div>

        <br>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <!-- <div class="response" id="mce-success-response" style="display:none"></div> -->
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_38750652726b1bcbd916713e2_cd9995d508" tabindex="-1" value=""></div>
        </div>
      </form>
      </div>
      <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
      <!--End mc_embed_signup-->

    </div>
  </div>
</div>

{{ end }}
