.article-card {
  border-radius: 0px;
  transition: box-shadow 1s;
  transition: box-shadow .3s;

  :hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }

  a {
    text-decoration: none !important;

    :hover {
      box-shadow: none;
    }
  }
}
