@import 'node_modules/bootswatch/dist/flatly/variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootswatch/dist/flatly/bootstrap';

@import 'src/scss/section-card.scss';
@import 'src/scss/article-card.scss';

body {
  overflow-x: hidden;
  max-width: 100%;
  font-family: "Open Sans"
}

p {
  font-size: 14pt;
}

// Handle the overlap from the sticky navbar
.main {
  padding-top: 4.25rem;
}

.article-group {
  margin-bottom: 10px;
}

.nav.toc {
  position: sticky;
  top: 5.75rem;
  @media (max-width: 400px) {
    display: none;
  }
}

.button-margin-left {
  margin-left: 10px;
}

.article {
  padding-top: 1.5rem;

  img {
    max-width: 100%;
    min-width: 100%;
  }

  pre {
      border-radius: 0.2rem;
      padding: 0.5rem;
      background-color: #F6F8FA;

      code {
        padding: 0px;
      }
  }

  code {
    color: #25292D;
    background-color: #F6F8FA;
    border-radius: 0.2rem;
    padding: 0.1rem;
  }
}

.alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
