{{ $header := .Get 0 }}

<table class="table table-sm table-bordered">
  <thead class="thead-light">
    <tr>
    {{ range split $header "," }}
    <th scope="col">{{ . }}</th>
    {{ end }}
    </tr>
  </thead>

  <tbody>

    {{- range (seq 1 (sub (len .Params) 1) ) }}
    <tr>
      {{- $row := $.Get . }}
      {{ range split $row "," }}
      <td>{{ . }}</td>
      {{ end }}
    </tr>
    {{- end }}
  </tbody>

</table>
